# Dependencies
node_modules/
.dart_tool/
build/

# Secret Keys & Environment Variables (NEVER commit these)
.env
serviceAccountKey.json
*serviceAccountKey*.json
backend/src/config/serviceAccountKey.json
google-services.json
*google-services*.json
**/google-services.json
frontend/flutter_app/android/app/google-services.json
frontend/flutter_app/android/google-services.json

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/

# IDE files
.vscode/
.idea/
*.iml
